<h1>Editing note</h1>

<div id='edit_notice'>
<%= flash[:notice]%>
</div>

<%= render 'form' %>

<%= link_to 'Show', [@campaign,@note] %> |
<%= link_to 'Back', campaign_notes_path(@campaign) %>

<%=javascript_tag "Element.fade('edit_notice', {duration:2});" %>