<p>
  <b>Campaign:</b>
  <%= @character.campaign.title %>
</p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Description:</b>
  <%=raw RedCloth.new(sanitize @character.description).to_html %>
</p>


<%= link_to 'Edit', edit_campaign_character_path(@campaign, @character) %> |
<%= link_to 'Back', campaign_characters_path(@campaign) %>
