<h1>Editing loot</h1>

<div id='edit_notice'>
<%= flash[:notice]%>
</div>

<%= render 'form' %>

<%= link_to 'Show', [@campaign,@loot] %> |
<%= link_to 'Back', campaign_loots_path(@campaign) %>

<%=javascript_tag "Element.fade('edit_notice', {duration:2});" %>