<div>
<h1>Loots</h1>
<div class="center_column">
<table>
  <tr>
    <th>Location</th>
    <th>date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loots.each do |loot| %>
  <tr>
    <td><%= loot.location %></td>
    <td><%= loot.created_at.strftime("%Y-%m-%d") %></td>
    <td><%= link_to 'Show', [@campaign,loot] %></td>
    <td><%= link_to 'Edit', edit_campaign_loot_path(@campaign,loot) %></td>
    <td><%= link_to 'Destroy', [@campaign,loot], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Loot', new_campaign_loot_path(@campaign) %>
</div>
<div class="side_column">
  <p>Tags:</p>
  <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name, campaign_loots_path(@campaign, :tag=>tag.name), :class => css_class %>
  <% end %>
  <p>
    <%= link_to 'all', campaign_loots_path(@campaign) %>
  </p>
</div>
</div>