<!DOCTYPE html>
<html>
<head>
  <title>Looter - <%=params[:controller]%></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag %w{jquery-1.4.2.js rails.jq.js application.js} %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="main-content">
  	<div id="user_nav">
  	  <% if user_signed_in? %>
  	    Signed in as <%= current_user.email %>. 
  	    <%= link_to "Sign out", destroy_user_session_path %>
  	  <% else %>
  	    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  	  <% end %>
  	</div>
  	<div class="menu">	
  		<ul><li><%=link_to 'Campaigns', campaigns_path %></li>
  		<% if !@campaign.blank? && !@campaign.id.blank? %>
  		<li><%=link_to 'Characters', campaign_characters_path(@campaign) %></li>
  		<li><%=link_to 'Notes', campaign_notes_path(@campaign) %></li>
  		<li><%=link_to 'Loot', campaign_loots_path(@campaign) %></li>
  		<% my_character = Character.user_campaign(current_user, @campaign) %>
  		<li><%=link_to my_character.name, [@campaign, my_character] if my_character %></li>
  		<%end%>
  		</ul>
  	</div>
    <div class="content">
      <h1><%= link_to @campaign.title, @campaign if @campaign%></h1>
      <h2><%= link_to @character.name, [@campaign, @character] if @character%></h2>
    <%= yield %>
    </div>
  </div>
</body>
</html>
