<!DOCTYPE html>
<html>
<head>
  <title>Looter</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<ul>
<li><%=link_to 'Campaigns', campaigns_path %></li>
<li><%=link_to 'Notes', campaign_notes_path(@campaign) %></li>
<li><%=link_to 'Loot', campaign_loots_path(@campaign) %></li>
</ul>
<h1><%=@campaign.title%></h1>
<%= yield %>

</body>
</html>
